:host,
:root {
  color-scheme: light dark;
  --font: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue',
    ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  --font-size: 1.25rem;

  --bg-color: rgb(222, 225, 230);
  --bg-border-color: rgb(218, 220, 224);

  --text-color: #333333;
  --link-text-color: #463f5c;
  --active-link-text-color: #000;
  --link-underscore-color: #a9b2d1;
}

@media (prefers-color-scheme: dark) {
  :host,
  :root {
    --bg-color: rgb(53, 54, 58);
    --bg-border-color: rgb(40, 40, 40);

    --text-color: #b8bfc6;
    --select-text-bg-color: #3a505f;

    --link-text-color: #aaa;
    --active-link-text-color: #fff;
    --link-underscore-color: #a9b2d1;

    --header-color: #dedede;
  }
}

aside {
  font-family: var(--font);
  font-style: var(--font-size);
  background-color: var(--bg-color);
  border-top: 1px solid var(--bg-border-color);
  display: flex;
  flex-direction: column;
  padding: 1em;
}

h2 {
  max-width: 20em;
  font-size: 2.25rem;
  line-height: 1.25;
  box-sizing: border-box;
  margin: 0.5em;
}

.marked span {
  padding: 0.25rem;
  color: var(--header-color);
}

li {
  color: var(--link-text-color);
  line-height: 1.5rem;
}

li.backlink {
  list-style: none;
}

a {
  color: var(--link-text-color);
  text-decoration: none;
  transition: color 0.15s ease-in;

  border-bottom: 2px solid var(--link-underscore-color);
}

a:hover {
  color: var(--active-link-text-color);
  border-bottom-color: var(--active-link-text-color);
}
